@{
    ViewData["Title"] = "Add a New Genre";
}
<div class="text-center">
    <h1 class="display-4">Add a new Video or Music Genre</h1>
    <p>Add either a new music genre, tv/movie genre or both.</p>
    <a class="btn btn-primary" asp-controller="AudioGenres" asp-action="Index">
        Music Genre
    </a>
    <a class="btn btn-primary" asp-controller="ScreenGenres" asp-action="Index">
        Show/Movie Genre
    </a>
</div>
