@{
    ViewData["Title"] = "Add a New Genre";
}
<div class="text-center">
    <h1 class="display-4">Add a new Video or Music Genre</h1>
    <p>Create an account now.</p>
    <a class="btn btn-primary" asp-controller="AudioLists" asp-action="Index">
        Album List
    </a>
    <a class="btn btn-primary" asp-controller="ShowLists" asp-action="Index">
        Show List
    </a>
    <a class="btn btn-primary" asp-controller="MovieLists" asp-action="Index">
        Movie List
    </a>
</div>
