@{
    ViewData["Title"] = "Add a New Genre";
}
<div class="text-center">
    <h1 class="display-4">Create a New List to Organize and Rank Your Favourite Albums, Shows, and Movies</h1>
    <p>Click on of the three buttons below.</p>
    <a class="btn btn-primary" asp-controller="AudioLists" asp-action="Index">
        Album List
    </a>
    <a class="btn btn-primary" asp-controller="ShowLists" asp-action="Index">
        Show List
    </a>
    <a class="btn btn-primary" asp-controller="MovieLists" asp-action="Index">
        Movie List
    </a>
</div>
