@{
    ViewData["Title"] = "Add a New Review";
}
<div class="text-center">
    <h1 class="display-4">Add a new review for your favourite albums, tx shows, and movies.</h1>
    <p>Click one of the buttons below to start now.</p>
    <a class="btn btn-primary" asp-controller="Albums" asp-action="Index">
        Album Reviews List
    </a>
    <a class="btn btn-primary" asp-controller="Shows" asp-action="Index">
        Show Reviews List
    </a>
    <a class="btn btn-primary" asp-controller="Movies" asp-action="Index">
        Movie Reviews List
    </a>
</div>
