@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rate your favourite movies, tv shows, and albums</h1>
    <p>This is my project for Sever-Side Scripting ASP.NET - COMP2084.</p>
    <p>This application has multiple uses, first you can write reviews and rate your favourite albums, shows, and movies.</p>
    <p>And then after that if you want too you can input them into a list to either rank them, organize them, or both. (Under Consturction... )</p>
    <p>Click one of the navigation options above to get started.</p>
</div>
