@model COMP2084Project.Models.ShowList

@{
    ViewData["Title"] = "Edit this List";
}

<h1>Edit this List</h1>

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShowListId" />
            <div class="form-group">
                <label asp-for="ShowListName" class="control-label"></label>
                <input asp-for="ShowListName" class="form-control" />
                <span asp-validation-for="ShowListName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowListDescription" class="control-label"></label>
                <input asp-for="ShowListDescription" class="form-control" />
                <span asp-validation-for="ShowListDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
